
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{movie.title}}</title>
</head>
<body>{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ movie.title }}</title>
</head>
<body>
<h1>{{ movie.title }}</h1>
<img src="{{ movie.poster.url }}" style="width: 300px" alt="{{ movie.title }}">
<h4>{{ movie.description }}</h4>
<p>{{ movie.release_date }}</p>
{% if movie.trailer %}
    <iframe width="560" height="315"
            src="{{ movie.trailer|replace:'watch?v=','embed/' }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
    </iframe>
{% endif %}
</body>
</html>
